<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<servlet>
		<servlet-name>checkpay</servlet-name>
		<servlet-class>com.oa.servlets.CheckHighestBidServlet</servlet-class>
	</servlet>
	
		<servlet>
		<servlet-name>contact</servlet-name>
		<servlet-class>com.oa.servlets.ContactServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>chat</servlet-name>
		<servlet-class>com.oa.servlets.ChatServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.oa.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.oa.servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>edit</servlet-name>
		<servlet-class>com.oa.servlets.EditServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>bid</servlet-name>
		<servlet-class>com.oa.servlets.BidServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>auction</servlet-name>
		<servlet-class>com.oa.servlets.AuctionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>verifyEmail</servlet-name>
		<servlet-class>com.oa.servlets.VerifyEmailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.oa.servlets.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sort</servlet-name>
		<servlet-class>com.oa.servlets.SortServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sellerFeedback</servlet-name>
		<servlet-class>com.oa.servlets.SellerFeedbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>matchSeller</servlet-name>
		<servlet-class>com.oa.servlets.MatchSellerServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>bidPageDisplay</servlet-name>
		<servlet-class>com.oa.servlets.BidPageDisplayServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>displayAuction</servlet-name>
		<servlet-class>com.oa.servlets.DisplayAuctionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>users</servlet-name>
		<servlet-class>com.oa.servlets.UsersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteUserServlet</servlet-name>
		<servlet-class>com.oa.servlets.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>com.oa.servlets.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>closedBids</servlet-name>
		<servlet-class>com.oa.servlets.ClosedBidsServlet</servlet-class>
	</servlet>
	
		<servlet-mapping>
		<servlet-name>checkpay</servlet-name>
		<url-pattern>/checkHighestBidServlet</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>contact</servlet-name>
		<url-pattern>/contactServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>chat</servlet-name>
		<url-pattern>/chatServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>edit</servlet-name>
		<url-pattern>/editServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bid</servlet-name>
		<url-pattern>/bidServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auction</servlet-name>
		<url-pattern>/auctionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>verifyEmail</servlet-name>
		<url-pattern>/verifyEmailServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/searchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sort</servlet-name>
		<url-pattern>/sortServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sellerFeedback</servlet-name>
		<url-pattern>/sellerFeedbackServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>matchSeller</servlet-name>
		<url-pattern>/matchSellerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bidPageDisplay</servlet-name>
		<url-pattern>/bidPageDisplayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>displayAuction</servlet-name>
		<url-pattern>/displayAuctionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>users</servlet-name>
		<url-pattern>/usersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteUserServlet</servlet-name>
		<url-pattern>/deleteUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/adminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>closedBids</servlet-name>
		<url-pattern>/closedBidsServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


</web-app>
